html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: "smooth",

}
::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0946c0
  }
}


/* font */
@font-face {
  font-family: 'TextaAltBlack';
  src: url(../public/font/TextaAltBlack.ttf);
}
@font-face {
  font-family: 'TextaAltBold';
  src: url(../public/font/TextaAltBold.ttf);
}
@font-face {
  font-family: 'TextaAltBook';
  src: url(../public/font/TextaAltBook.ttf);
}
@font-face {
  font-family: 'TextaAltHeavy';
  src: url(../public/font/TextaAltHeavy.ttf);
}
@font-face {
  font-family: 'TextaAltLight';
  src: url(../public/font/TextaAltLight.ttf);
}
@font-face {
  font-family: 'TextaAltMedium';
  src: url(../public/font/TextaAltMedium.ttf);
}
@font-face {
  font-family: 'TextaAltRegular';
  src: url(../public/font/TextaAltRegular.ttf);
}
@font-face {
  font-family: 'TextaAltThin';
  src: url(../public/font/TextaAltThin.ttf);
}