html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  /* color: white */

}

::-webkit-scrollbar {
  display: none;
}


/* font */
@font-face {
  font-family: 'TextaAltBlack';
  src: url(../public/font/TextaAltBlack.ttf);
}
@font-face {
  font-family: 'TextaAltBold';
  src: url(../public/font/TextaAltBold.ttf);
}
@font-face {
  font-family: 'TextaAltBook';
  src: url(../public/font/TextaAltBook.ttf);
}
@font-face {
  font-family: 'TextaAltHeavy';
  src: url(../public/font/TextaAltHeavy.ttf);
}
@font-face {
  font-family: 'TextaAltLight';
  src: url(../public/font/TextaAltLight.ttf);
}
@font-face {
  font-family: 'TextaAltMedium';
  src: url(../public/font/TextaAltMedium.ttf);
}
@font-face {
  font-family: 'TextaAltRegular';
  src: url(../public/font/TextaAltRegular.ttf);
}
@font-face {
  font-family: 'TextaAltThin';
  src: url(../public/font/TextaAltThin.ttf);
}

/* font tt-norms */
@font-face {
  font-family: 'TT Norms Bold';
  src: url(../public/font/polygon/TT-Norms-Fonts/TTNorms-Bold.otf);
}

@font-face {
  font-family: 'TT Norms Regular';
  src: url(../public/font/polygon/TT-Norms-Fonts/TTNorms-Regular.otf);
}

@font-face {
  font-family: 'TT Norms Thin';
  src: url(../public/font/polygon/TT-Norms-Fonts/TTNorms-Light.otf);
}
